.about--description{
	margin:50px 100px;
	
	line-height: 2.0;
	font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
	.about--description{
	margin:20px 50px;
	line-height: 1.8;
	font-size: 1rem;
}
}
.about--header{
	text-align: center;
}