.logo-img{
	
	max-width: 100px;
	height: 5rem;
	margin-right: auto;
}

.navigation{
	
		height: 70px;
		display: flex;
		/* background-color: blue; */
		padding: 20px 40px;
		box-shadow: 10px 5px 5px gray;
		display: flex;
}

section{
	padding: 20px;
}

.activeLink,
.inactiveLink {
  padding: 0 2rem;
  
}

.activeLink {
  color: rgb(0, 255, 128);
  font-weight: bold; 
}

.inactiveLink {
	color: #666;
}

.links {
	display: flex;
  }

  a{
	padding: 20px;
	font-size: 1.2rem;
  }
  
@media only screen and (max-width: 800px) {
	.navigation{
	
		display: flex;
		flex-direction: column;
		height: 30%;
		align-items: center; 
}
.nav-links {
    display: flex;
    gap: 20px; /* Opcjonalnie, aby dodać odstępy między linkami */
}

.a {
    /* Twoje style dla linków */
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #333; /* Kolor tekstu */
    transition: color 0.3s ease; /* Płynna zmiana koloru tekstu */
}

a:hover{
	color: #f00;

}
   }