/* .App {
  text-align: center;
} */



section{
	padding: 20px;
}

h1{
	font-size: 40px;
}



.cards-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;

}