/* .App {
  text-align: center;
} */



section{
	padding: 20px;
}

h1{
	font-size: 40px;
}




.cards-list {
    display: flex;
    align-items: center; /* Center vertically */
    
	flex-direction: column;
	background-color: rgb(245, 239, 233);
}


@media only screen and (min-width: 900px) {
	.cards-list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	
	}
   }